*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}
body{
    background-color: black;
    color: #c7c7c7;
}

@font-face{
    font-family:'neutra-bookalt';
    src: url('../fonts/NEUTRATEXT-BOOKALT.OTF') format('opentype'); 
 }
 @font-face{
    font-family:'neutra-demialt';
    src: url('../fonts/NEUTRATEXT-DEMIALT.OTF') format('opentype'); 
 }
.sectionmain{
    background-color: #272727;
    margin-top: 135px;
}
section h1{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 35px;
    font-family: 'neutra-demialt';
}
section h3{
    font-family: 'neutra-bookalt';
}
header a{
    font-family: 'neutra-bookalt';
}
hr { 
    display: flex;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-width: 0.1em;
    border-color: black;
    }

section button{
    border: none;
    background-color: rgba(000, 000, 000, 0.0);
}
/* ----------------Cambios navBAR-------------*/
form a{
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: buttonface;
    border-image: initial;
}  
form a:hover{
    color: buttontext;
    box-shadow: 0.1em 0em 0.5em 0.07em #00FFFF;
    }
form button:hover{
    box-shadow: 0em 0em 0.5em 0.07em #00FFFF;
    }
.dropdown-menu{
      background-color: black;
    }
.bg_negro {
    background-color: #000!important;
    }
    
.button {
     border-width: 9px;
     border-style: solid;
     margin: 3px;
     }
    
.dropdown-item{
    background: black;
    color: white;
    }
    /*----- Codigo Igual en MAster.css DESP si hacemos los import borrarlo*/
    .profile img{
      width: 24px;
      height: 24px;
    }
    ul li{
      font-size: 0.9em;
    }
    .botoneslg form{
      display: none;
    }
    .profile2 img{
      width: 24px;
      height: 24px;
    }
    .dropdown img{
      width: 24px;
      height: 24px;
    
    }
    .logo img{
      width: 100px;
      height: 100px;
      margin-left:20px;
    }
    /*.navbar-toggler.collapsed{
      position: absolute;
    }*/
    /*.navbar-toggler.collapsed {
    
        width: 100ox;
        width: 10000px;
        position: absolute;
        top: 45px;
        height: 40px;
    
    }*/
    @media(min-width:512px){
      .logo img{
        margin-left: 78px;
      }
    }
    @media(min-width:768px){
      .logo img{
      margin-left: 168px;
      }
      ul li{
        font-size: 1.2em;
      }
    
    }
    @media(min-width:992px){
      .logo img{
        margin-left: 0;
        }
      .botoneslg form{
        display: flex;
      }
      .botonesxs form{
        display: none;
      }
      ul li{
        font-size: 1.2em;
      }
    }
    /*-------------------*/
/*-----Footer------*/
 
.container-footer-all{
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    
  }
  .container-body{
    margin-top: 25px;
    background-color: black;
    color: #C7C7C7;
    display: flex;
  }
  a{
    color: #C7C7C7;
    text-decoration: none;
  }
  .container-footer{
    color: #C7C7C7;
    background-color: black;
    text-align: center;
    font-size: 13px;
    
  }
  .blackeye{
    color: #C7C7C7;
  }
  .colum1{
    max-width: 400px;
    display: flex;
    justify-content: left;
    flex-direction: column;
  }
  .colum2{
    max-width: 400px;
  }
  .colum3{
    max-width: 400px;
  }
  .colum1 h2 {
    font-size: 15px;
    text-transform: uppercase;
    padding: 3px;
    margin-bottom: 0;
    
  }
  
  .colum2 h2 {
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
  }
  .colum2 .social{
    display: flex;
    font-size: 14px;
    margin-top: 8px;
  }
  .social img{
    width: 22px;
    height: 22px;
  }
  .colum3 h2 {
    font-size: 15px;
    text-transform: uppercase;
    text-align: left;
  }
  .colum3 p{
    font-size: 14px;
    padding: 2px;
    text-align: left;
  }
  
  
  @media screen and (max-width:1100px){
    .container-body{
        flex-wrap: wrap;
    }
    .colum1{
        max-width: 100%;
    }
    .colum2,.colum3{
        margin-top: -11px;
    }
  }
  
  @media (max-width:320px){
  
    .colum1 {
      max-width: 100vw;
    }
  }