*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

body{
   text-align: center;
  background-color: rgb(44, 40, 40,);
  color: white;
  font-family: 'neutra-bookalt';
}

@font-face{
    font-family:'neutra-bookalt';
    src: url('../fonts/neutra/NEUTRATEXT-BOOKALT.OTF') format('opentype'); 
 }
 @font-face{
    font-family:'neutra-demialt';
    src: url('../fonts/neutra/NEUTRATEXT-DEMIALT.OTF') format('opentype'); 
 }