*{
   box-sizing: border-box;
   padding: 0;
   margin:0 auto;
}
body{
   font-family: 'neutra-bookalt';
   background-color: #2a2a2a;
}
@font-face{
<<<<<<< HEAD
   font-family:'neutra-bookalt';
   src: url('../fonts/NEUTRATEXT-BOOKALT.OTF') format('opentype'); 
}

/*
.sidebar{
   position: absolute;
   width: 250px;
   height:100%;
   background:#333;
   color:#fff;
   outline: 1px solid #2a2a2a;
}

.sidebar h2{
   text-align:center;
   margin:0;
   padding: 10px;
   background:#2a2a2a;
}

.sidebar ul{
   list-style:none;
   padding: 0;
   margin:0;
}

.sidebar li{
   outline: 1px solid #2a2a2a;
   transition: all 0.3s;
}

.sidebar li:hover {
   background: #444;
   border-left: 5px solid #eee;
}

.sidebar a {
   display:block;
   color: #fff;
   text-decoration: none;
   padding: 10px;
}

.container{
   width:100%;
   height:100%;
   position:absolute;
   background:#eee;
   padding: 30px;
   z-index:1001;
   display: flex;
   transition: all 0.3s;

}

.container img{
   width: 5%;
   height: 10%;
}

.menu-bar{
   cursor: pointer;
}

.abrir {
   transform: translateX(250px);
}
/*---------*/


/*---Slider--*/
.slideshow ul,ol{
   list-style: none;
   padding:0;
   margin:0;
}

.slideshow{
   width:100%;
   position:relative;
   top:77px;
   overflow: hidden;
}

.slider li, ul{
   width: 100%;
}

.slider li img {
   width:100%;
}

.slider .caption{
   position:absolute;
   width: 100%;
   height: 99%;
   top:0;
   left:-50%;
   color: #fff;
   display:flex;
   flex-direction: column; 
   justify-content: center;
   z-index:1000;
   transition: left 0.8s ease;
   transform: translateX(-55%) skewX(-10deg); 
   background-color: #000000ab;
}



.slider .caption h1{
   padding: 0 3vw;
   font-size: 4vw;
   margin: 0;
   transform:translateX(55%)skewX(10deg); 
   
}

.slider .caption p{
   padding: 0 3vw;
   font-size:1.3vw;
   margin:0;
   transform:translateX(55%)skewX(10deg); 
   
}

.slideshow:hover .caption{
   display: flex;
   left:0;
   transition: left 0.8s ease;
}





/*-------------Media Queries-----*/
 @media(min-width:992px){
    .slideshow{
       top:0;
       width:91%;
       float:right;
       height: 75vh;
    }
    .slider .caption p{
      font-size:1.2vw;
 }
   .slider li, ul{
      height: 100%;
   }

   .slider li img{
      height:100%;
   }
}



/*---Productos---*/

.contenedor{
   background-color: aqua;
}

.carousel{
   position:inherit;
}

.carousel-inner{
   width: 91%;
   float: right;
   margin: 0 auto;
}

.__slider{
   display:flex;
   width: 100%;
   margin: 0 auto;
}

.__slider .__product{
   margin: 0 auto;
   width:25%;
   padding:1%;
}
.__slider .__product img{
   max-width: 100%;
}

.__slider .__product .description{
   background-color: white;
}
=======
    font-family:'neutra-bookalt';
    src: url('../fonts/NEUTRATEXT-BOOKALT.OTF') format('opentype'); 
 }
 @font-face{
    font-family:'neutra-demialt';
    src: url('../fonts/NEUTRATEXT-DEMIALT.OTF') format('opentype'); 
 }
>>>>>>> cambiosPau
