/* ------------------Aplica para resultados de Search como para mostrar Productos---------------------- */
*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;

}

@font-face{
    font-family:'neutra-bookalt';
    src: url('../fonts/NEUTRATEXT-BOOKALT.OTF') format('opentype'); 
 }
 @font-face{
    font-family:'neutra-demialt';
    src: url('../fonts/NEUTRATEXT-DEMIALT.OTF') format('opentype'); 
 }

 .containerPage{
    background-color: aquamarine;
    height: 12em;
    width: 100%;
    margin-top: 4.5em;
     
     
 }
 body{
    text-align: center;
   background-color: rgb(44, 40, 40,);
   color: rgb(31, 31, 31);
   font-family: 'neutra-bookalt';
 }

 .banner{
     display: flex;
     margin-top: 76px;
     margin-bottom: 220px;
 }
.containerProducts{
    margin-top: 50px;
    
}
  .sectionProductos{
     display: flex;
     flex-wrap: wrap;
  }


  .sectionProductos .productos {
    width: 45%;
    height: auto;
    margin-bottom: 100px;
}
 .productos{
     display: flex;
     flex-wrap: nowrap;
     /* background-color:grey;
     padding: 1%; */
     height: 45%;
     
     
 }
 .productos img{
     width: 100%;
     height: 100%;
 }

 article .productos{
    background-color: aquamarine;
 }

 /*---------------------Media Querie Medium-------------------*/
 @media(min-width:768px){
    .sectionProductos .productos {
        width: 24%;
        height: auto;
        
    }
 }
/* ---------------------Media Querie Large----------------*/
@media(min-width:992px){
    .containerPage{
        background-color:aquamarine;
        height: 12em; 
        width: 91%;
        margin-left: 9%;
        margin-top: -5.5em;
        
    }
    .containerProducts {
        margin-top: 25%;
        margin-left: 6%;
        margin-right: 2%;
        
    }
    .sectionProductos .productos {
        width: 19%;
        height: auto;
        
    }

    
}
/* ---------------------Media Querie Extra Large----------------*/
@media(min-width:1440px){
    
    .container_NavBarVertical {
        display: flex;
        flex-direction: row;
        position: fixed;
        top: 0;
        left: 0;
        width: 130px;
        height: 100%;
        background: #000;
        z-index: 1001;
    }

    .containerProducts {
        margin-top: 25%;
        margin-left: 3%;
        margin-right: 2%;
    }

    .containerPage{
        background-color:aquamarine; 
        width: 94%;
        margin-left: 6%;
        margin-top: -5.5em;
        height: 16em;
        
    }
    .sectionProductos .productos {
        width: 19%;
        height: auto;  
    }
}