body{
   margin:0;
   padding: 0;
   box-sizing: border-box;
}
.sidebar{
   position: absolute;
   width: 250px;
   height:100%;
   background:#333;
   color:#fff;
   outline: 1px solid #2a2a2a;

}

.sidebar h2{
   text-align:center;
   margin:0;
   padding: 10px;
   background:#2a2a2a;
}

.sidebar ul{
   list-style:none;
   padding: 0;
   margin:0;
}

.sidebar li{
   outline: 1px solid #2a2a2a;
   transition: all 0.3s;
}

.sidebar li:hover {
   background: #444;
   border-left: 5px solid #eee;
}

.sidebar a {
   display:block;
   color: #fff;
   text-decoration: none;
   padding: 10px;
}

.container{
   width:100%;
   height:100%;
   position:absolute;
   background:#eee;
   padding: 30px;
   z-index:1001;
   display: flex;
   transition: all 0.3s;

}

.container img{
   width: 5%;
   height: 10%;
}

.menu-bar{
   cursor: pointer;
}

.abrir {
   transform: translateX(250px);
}






